[project]
name = "jumpstarter-driver-${DRIVER_NAME}"
dynamic = ["version", "dependencies"]
description = "Add your description here"
readme = "README.md"
license = "Apache-2.0"
authors = [
    { name = "${AUTHOR_NAME}", email = "${AUTHOR_EMAIL}" }
]
requires-python = ">=3.11"

[tool.hatch.metadata.hooks.uv-dynamic-versioning]
dependencies = [
    "anyio>=4.10.0",
    "jumpstarter=={{ version }}",
]

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.pytest.ini_options]
addopts = "--cov --cov-report=html --cov-report=xml"
log_cli = true
log_cli_level = "INFO"
testpaths = ["jumpstarter_driver_${DRIVER_NAME}"]
asyncio_mode = "auto"

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
]
