apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "operator.jumpstarter.dev/v1alpha1",
          "kind": "Jumpstarter",
          "metadata": {
            "labels": {
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "jumpstarter-operator"
            },
            "name": "jumpstarter-sample"
          },
          "spec": null
        }
      ]
    capabilities: Basic Install
    createdAt: "2025-12-22T16:34:29Z"
    operators.operatorframework.io/builder: operator-sdk-v1.41.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  name: jumpstarter-operator.v0.8.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: Client
      name: clients.jumpstarter.dev
      version: v1alpha1
    - kind: ExporterAccessPolicy
      name: exporteraccesspolicies.jumpstarter.dev
      version: v1alpha1
    - kind: Exporter
      name: exporters.jumpstarter.dev
      version: v1alpha1
    - description: Jumpstarter is the Schema for the jumpstarters API.
      displayName: Jumpstarter
      kind: Jumpstarter
      name: jumpstarters.operator.jumpstarter.dev
      version: v1alpha1
    - kind: Lease
      name: leases.jumpstarter.dev
      version: v1alpha1
  description: Jumpstarter is a cloud-native framework for Hardware-in-the-Loop (HIL)
    automation that bridges the gap between embedded development workflows and real-world
    deployment environments. This operator installs and manages the Jumpstarter Controller,
    which acts as the central brain for your testing infrastructure. It orchestrates
    secure, shared access to physical hardware and virtual devices (represented as
    "exporters") directly from your Kubernetes or OpenShift cluster.
  displayName: Jumpstarter Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - secrets
          - serviceaccounts
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - ""
          resources:
          - services/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - config.openshift.io
          resources:
          - ingresses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - jumpstarter.dev
          resources:
          - clients
          - exporteraccesspolicies
          - exporters
          - leases
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - jumpstarter.dev
          resources:
          - clients/finalizers
          - exporteraccesspolicies/finalizers
          - exporters/finalizers
          - leases/finalizers
          verbs:
          - update
        - apiGroups:
          - jumpstarter.dev
          resources:
          - clients/status
          - exporteraccesspolicies/status
          - exporters/status
          - leases/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - operator.jumpstarter.dev
          resources:
          - jumpstarters
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - operator.jumpstarter.dev
          resources:
          - jumpstarters/finalizers
          verbs:
          - update
        - apiGroups:
          - operator.jumpstarter.dev
          resources:
          - jumpstarters/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/custom-host
          verbs:
          - create
          - get
          - patch
          - update
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: jumpstarter-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: jumpstarter-operator
          control-plane: controller-manager
        name: jumpstarter-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: jumpstarter-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                app.kubernetes.io/name: jumpstarter-operator
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --metrics-bind-address=:8443
                - --leader-elect
                - --health-probe-bind-address=:8081
                command:
                - /manager
                image: quay.io/jumpstarter-dev/jumpstarter-operator:latest
                imagePullPolicy: IfNotPresent
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 512Mi
                  requests:
                    cpu: 10m
                    memory: 256Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
              serviceAccountName: jumpstarter-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: jumpstarter-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - hil
  - hardware-in-the-loop
  - hardware
  - device
  - embedded
  - testing
  - framework
  links:
  - name: Jumpstarter Operator
    url: https://jumpstarter.dev/main/getting-started/installation/service/index.html
  maintainers:
  - email: majopela@redhat.com
    name: Miguel Angel Ajo
  maturity: alpha
  provider:
    name: The Jumpstarter Community
    url: https://jumpstarter.dev
  version: 0.8.0
