from dataclasses import dataclass

from jumpstarter.driver import Driver, export

@dataclass(kw_only=True)
class ${DRIVER_CLASS}(Driver):
    """${DRIVE_NAME} driver for Jumpstarter"""

    some_config: str = "default"
    some_other_config: int = 69

    def __post_init__(self):
        if hasattr(super(), "__post_init__"):
            super().__post_init__()
        # some initialization here.

    @classmethod
    def client(cls) -> str:
        return "jumpstarter_driver_${DRIVER_NAME}.client.${DRIVER_CLASS}Client"

    @export
    def method1(self):
        self.logger.info("Method1 called")
        return "method1 response"

    @export
    def method2(self):
        self.logger.info("Method2 called")
        return "method2 response"
