name: End-to-end tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - 'release-*'
  merge_group:

permissions:
  contents: read

jobs:
  e2e-tests:
    if: github.repository_owner == 'jumpstarter-dev'
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      
      - name: Setup e2e test environment
        run: make e2e-setup
        env:
          CI: true
      
      - name: Run e2e tests
        run: make e2e-run
        env:
          CI: true
